In [6]:
from main.game import Game
from main.move_selectors import run_generation, games_to_df, survivor_ct_function_1, survivor_ct_function_2, children_per_survivor_func_1, survivor_ct_function_3, children_per_survivor_func_2
import pandas as pd

In [7]:
init_game = Game()

In [8]:
games = [init_game]

In [9]:
finished_games = pd.DataFrame(columns = ['score', 'remaining_marbles', 'moves'])

In [8]:
for i in range(0,100):
    games = [init_game]
    while len(games) > 0:
        games = run_generation(games, survivor_ct_function_1, children_per_survivor_func_1)
        complete_games = list(filter(lambda game: game.is_finished(), games))
        games = list(set(games) - set(finished_games))
        finished_games = pd.concat([finished_games, games_to_df(complete_games)], ignore_index=True)

finished_games.to_csv("evolution_v1_results.csv")

In [14]:
finished_games.sort_values(by=['remaining_marbles', 'score'])

,score,remaining_marbles,moves
530,10,4,"[((5, 3), (3, 3)), ((4, 5), (4, 3)), ((5, 1), ..."
537,10,4,"[((5, 3), (3, 3)), ((4, 5), (4, 3)), ((5, 1), ..."
1469,10,4,"[((3, 5), (3, 3)), ((1, 4), (3, 4)), ((5, 5), ..."
1470,10,4,"[((5, 3), (3, 3)), ((4, 1), (4, 3)), ((2, 1), ..."
1471,10,4,"[((5, 3), (3, 3)), ((4, 1), (4, 3)), ((2, 1), ..."
...,...,...,...
59032,38,13,"[((3, 5), (3, 3)), ((5, 4), (3, 4)), ((4, 6), ..."
60024,38,13,"[((1, 3), (3, 3)), ((2, 1), (2, 3)), ((1, 5), ..."
65456,38,13,"[((1, 3), (3, 3)), ((2, 1), (2, 3)), ((1, 5), ..."
65969,38,13,"[((5, 3), (3, 3)), ((4, 5), (4, 3)), ((6, 4), ..."
36059,38,14,"[((3, 1), (3, 3)), ((1, 1), (3, 1)), ((5, 2), ..."

In [5]:
for i in range(0,100):
    games = [init_game]
    while len(games) > 0:
        games = run_generation(games, survivor_ct_function_2, children_per_survivor_func_1)
        complete_games = list(filter(lambda game: game.is_finished(), games))
        games = list(set(games) - set(finished_games))
        finished_games = pd.concat([finished_games, games_to_df(complete_games)], ignore_index=True)

finished_games.to_csv("evolution_surv_2_children_1_results.csv")

In [13]:
for i in range(0,100):
    games = [init_game]
    print(i)
    while len(games) > 0:
        games = run_generation(games, survivor_ct_function_3, children_per_survivor_func_2)
        complete_games = list(filter(lambda game: game.is_finished(), games))
        games = list(set(games) - set(finished_games))
        finished_games = pd.concat([finished_games, games_to_df(complete_games)], ignore_index=True)

finished_games.to_csv("evolution_surv_3_children_2_results.csv")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99